name: Check Copywrite Headers

on:
  pull_request:
    paths-ignore:
      - '*.md'
  push:
    branches:
      - main
    paths-ignore:
      - '*.md'

jobs:
  copywrite:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          fetch-depth: 0
      - name: Setup Copywrite
        id: copywrite
        uses: hashicorp/setup-copywrite@main
      - name: Check Header Compliance
        run: copywrite headers --plan
permissions:
  contents: read